
body{
    font-size: 28px;
}

#name{
  text-align: center;
  margin: 0rem;
}
#contact{
  text-align: center;
}
.elementContact{
  font-size: 30px;
  margin-bottom: 2rem;
}
#pictureProfils{
  float: none;
  margin: 0px;
}
.divOfElementInLiSkill{
  width: 100%;
  margin-top: 10px;
  margin-left: 0px;
}
#skill{
  margin-top: 10px;
}
.elementNavSkill{
  height: auto;
  padding-top:10px;
  padding-bottom: 5px;
}
.col1{
  text-align: left;
  width: auto;
}
.col2{
  text-align: left;
  width: auto;
}
.quality3{
  margin: auto;
}
#tableSkill{
  margin-bottom: 1rem;
}
.descHobbies{
  color: #EEEEEE;
  text-shadow: none;
  position: static;
  text-align: center;
  text-align: center;
  font-size: 30px;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
}
.nameElementSkill{
 font-size: 30px;
}
.descripElementSkill{
  margin-left: 25px;
  font-size: 25px;
}
